body {
    background-color: Pink;
    margin: 0;
    overflow: hidden;
}

img {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
}

.hidden {
    display: none !important;
}

.point {
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 10px;
    position: absolute;
}

#dropField {
    background-color: mediumaquamarine;
    border-radius: 15px;
    color: Gray;
    font-family: fantasy;
    font-size: 30px;
    margin: 50px auto;
    padding: 100px 40px;
    text-align: center;
    width: 400px;
}

#gui {
    display: flex;
    width: 480px;
    margin: 0 auto;
    background-color: mediumaquamarine;
    border-radius: 15px;
}

#gui .hint {
    color: Gray;
    font-family: fantasy;
    font-size: 30px;
    padding: 20px;
    text-align: center;
    flex: 1;
    display: flex;
}

#gui div {
    font-size: 30px;
    line-height: 30px;
    flex: 80%;
    text-align: left;
}

#gui div.material-icons {
    flex: 20%;
    text-align: center;
}

#displayField {
    display: block;
    background-color: mediumaquamarine;
    width: 100%;
    height: 100%;
}