body {
  background-color: Pink;
  margin: 0;
  overflow: hidden;
}

img {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
}

.hidden {
  display: none !important;
}

.point {
  width: 10px;
  height: 10px;
  background-color: yellow;
  border-radius: 10px;
  position: absolute;
}

.container {
  background-color: mediumaquamarine;
  border-radius: 15px;
  border: 3px solid Gray;
  color: Gray;
  font-family: fantasy;;
  font-size: 30px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

#dropField {
  border-style: dashed;
  width: 300px;
}

#displayField {
  display: block;
  width: 100%;
  height: 100%;
}

#gui {
  position: absolute;
  left: 10px;
  top: 10px;
  margin: 0;
}

#gui a {
  display: block;
}
